[submodule "web100-userland"]
	path = web100-userland
	url = git@github.com:npad/web100-userland.git
[submodule "npad"]
	path = npad
	url = git@github.com:npad/npad.git
[submodule "sidestream"]
	path = sidestream
	url = git@github.com:npad/sidestream.git
[submodule "package"]
	path = package
	url = https://github.com/m-lab-tools/package.git
