[submodule "web100-userland"]
	path = web100-userland
	url = https://github.com/npad/web100-userland.git
[submodule "npad"]
	path = npad
	url = https://github.com/npad/npad.git
[submodule "package"]
	path = package
	url = https://github.com/m-lab-tools/package.git
